body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.statebox {
    margin: 10px;
    width: 150px;
    height: 200px;
    border-radius:10px;
    border-style: solid;
    border-color: dimgrey;
    border-width:2px;
}

